* {
	margin: 0;

}

#headline {
	margin: 0;
	text-align: center;
	background: no-repeat top url("http://i.imgur.com/E8IVidf.jpg");
	background-size: cover;
	
	background-attachment: scroll;

}

#headline h1 {
	font-family: avenir;
	font-size: 50px;
	color: white;
}

@media only screen and (max-width: 500px) {

#headline { 
		
	}
}

@media only screen and (min-width: 600px) {

#headline { 
		
		
	}
}
