* {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
	}
a {
		text-decoration: none;
		color: black;
	}

	a:hover {
    color: gray
}

.card {
	position:relative;
	display: inline-grid;
	text-align: center;
	width: 10%;
	height: 20%;
	margin: 10%;
	padding: 10%;
	border: 1px solid black;
	border-radius: 10px;
	background-color: white;

}
.info {

}
.info img {
	border-radius: 50%;
	height:125px;
	width:125px;
	margin-bottom: 10px;

}
.info h1, h2, p, a {
	font-family: avenir, sans-serif;
	font-size: 1.25em;
}
.info {

}
.main {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	width:100%;
	height:100%

}
